﻿@using Microsoft.Extensions.Localization
@using TestingKnowledge.Dto
@model TestingKnowledge.Web.Models.AccountModel

@inject IStringLocalizer< TestingKnowledge.Web.Resources > Localizer

@{
    Layout = null;
    var account = @Model.Account;
}
@if ( account.DomainId != Model.AuthAccount.DomainId )
{
    <tr id="account-@account.DomainId">
        <td class="account-login">@account.Login</td>
        <td class="account-role">@account.Role</td>
        <td class="text-center">
            <button type="button"
                    class="btn btn-default"
                    onclick="navSelectedAccount = '@account.DomainId'; onShowEditAccount();"
                    data-toggle="modal"
                    data-target="#modal-edit-account">
                <span class="glyphicon glyphicon-cog"></span> @Localizer[ "Edit" ]
            </button>
        </td>
        <td class="text-center">
            <button type="button"
                    class="btn btn-danger"
                    onclick="navSelectedAccount = '@account.DomainId'"
                    data-toggle="modal"
                    data-target="#modal-delete-account">
                <span class="glyphicon glyphicon-remove"></span> @Localizer[ "Remove" ]
            </button>
        </td>
    </tr>
}