﻿@using Microsoft.Extensions.Localization
@using TestingKnowledge.Dto
@model TestingKnowledge.Web.Models.AccountsModel
@inject IStringLocalizer<TestingKnowledge.Web.Resources> Localizer
@{
    Layout = "_BasicInternalLayout";
    ViewBag.ActiveLink = "accounts";
    ViewBag.Title = "Accounts";
}
@section HeaderContent
{
    <script src="~/js/accounts.js"></script>
}

<div class="modal fade" id="modal-delete-account">
    <div class="modal-dialog">
        <div class="modal-content modal-sm center-block">
            <div class="modal-header">
                <p>@Localizer[ "Deleting" ]</p>
            </div>
            <div class="modal-body">
                <p>@Localizer[ "Are you sure ?" ]</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="removeSelectedAccount()" data-dismiss="modal">@Localizer[ "Yes" ]</button>
                <button class="btn btn-danger" data-dismiss="modal">@Localizer[ "No" ]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-account">
    <div class="modal-dialog">
        <div class="modal-content center-block">
            <div class="modal-header">
                <p>@Localizer[ "Edit account" ]</p>
            </div>
            <div class="modal-body clearfix">
                
                <div class="form-group has-feedback">
                    <label class="col-sm-2 hidden-xs control-label" for="inputLogin-edit">@Localizer[ "Login" ]</label>
                    <div>
                        <div class="col-sm-10 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="inputLogin-edit" class="form-control" type="text" name="inputLogin" placeholder="@Localizer[ "Login" ]" />
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 hidden-xs control-label" for="inputPassword-edit">@Localizer[ "Password" ]</label>
                    <div>
                        <div class="col-sm-10 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="inputPassword-edit" class="form-control" type="password" name="inputPassword" placeholder="@Localizer[ "Password" ]" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Role</label>
                    <div>
                        <div class="col-sm-10 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                            <select id="selectRole-edit" class="selectpicker form-control">
                                <option value="1">@Localizer[ "User" ]</option>
                                <option value="2">@Localizer[ "Moderator" ]</option>
                                <option value="4">@Localizer[ "Admin" ]</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="editSelectedAccount()">@Localizer[ "Save" ]</button>
                <button class="btn btn-danger" onclick="navSelectedAccount = null;" data-dismiss="modal">@Localizer[ "Cancel" ]</button>
            </div>
        </div>
    </div>
</div>

<!-- FIXME: use razor helper -->
<div class="modal fade" id="modal-create-account">
    <div class="modal-dialog">
        <div class="modal-content center-block">
            <div class="modal-header">
                <p>@Localizer[ "Create account" ]</p>
            </div>
            <div class="modal-body clearfix">
                
                <div class="form-group has-feedback">
                    <label class="col-sm-2 hidden-xs control-label" for="inputLogin-create">@Localizer[ "Login" ]</label>
                    <div>
                        <div class="col-sm-10 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="inputLogin-create" class="form-control" type="text" name="inputLogin" placeholder="@Localizer[ "Login" ]" />
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 hidden-xs control-label" for="inputPassword-create">@Localizer[ "Password" ]</label>
                    <div>
                        <div class="col-sm-10 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="inputPassword-create" class="form-control" type="password" name="inputPassword" placeholder="@Localizer[ "Password" ]" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Role</label>
                    <div>
                        <div class="col-sm-10 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                            <select id="selectRole-create" class="selectpicker form-control">
                                <option value="1">@Localizer[ "User" ]</option>
                                <option value="2">@Localizer[ "Moderator" ]</option>
                                <option value="4">@Localizer[ "Admin" ]</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="createAccount()">@Localizer[ "Create" ]</button>
                <button class="btn btn-danger" data-dismiss="modal">@Localizer[ "Cancel" ]</button>
            </div>
        </div>
    </div>
</div>

<div class="container content-wrap">
    <div class="row center-block">
        <div class="row col-md-6 col-md-offset-3">
            <table id="accounts-table" class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        <th class="text-center">@Localizer[ "Login" ]</th>
                        <th class="text-center">@Localizer[ "Role" ]</th>
                        <th class="text-center">@Localizer[ "Edit" ]</th>
                        <th class="text-center">
                            <div id="btn-account-create">
                                <button type="button"
                                        class="btn btn-success"
                                        data-toggle="modal"
                                        data-target="#modal-create-account">
                                    <span class="glyphicon glyphicon-plus"></span> @Localizer[ "Create" ]
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach ( AccountDto account in Model.Accounts )
                    {
                        @if ( account.DomainId != Model.AuthAccount.DomainId )
                        {
                            <tr id="account-@account.DomainId">
                                <td class="account-login">@account.Login</td>
                                <td class="account-role">@account.Role</td>
                                <td class="text-center">
                                    <button type="button"
                                            class="btn btn-default"
                                            onclick="navSelectedAccount = '@account.DomainId'; onShowEditAccount();"
                                            data-toggle="modal"
                                            data-target="#modal-edit-account">
                                        <span class="glyphicon glyphicon-cog"></span> @Localizer[ "Edit" ]
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button"
                                            class="btn btn-danger"
                                            onclick="navSelectedAccount = '@account.DomainId'"
                                            data-toggle="modal"
                                            data-target="#modal-delete-account">
                                        <span class="glyphicon glyphicon-remove"></span> @Localizer[ "Remove" ]
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>