﻿#loginWrapper {
    margin-top: 100px;
    width: 400px;
}

#loginWrapper form {
    padding: 32px;
}

#login-submit {
    float: right;
    margin-bottom: 0;
}

#login-box {
    margin-bottom: 30px;
}

#select-lang {
    text-align: center;
}
#select-lang .dropdown-menu {
    left: 50%;
    margin-top: 5px;
    margin-left: -95px;
}

#btn-account-create {
    margin-bottom: 30px;
}

#accounts-table th {
    vertical-align: middle;
    text-align: center;
}

#btn-account-create {
    margin-bottom: 0;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #loginWrapper {
        margin-top: 0;
        width: 100%;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #loginWrapper {
        margin-top: 0;
        width: 100%;
    }
}