﻿@using Microsoft.Extensions.Localization
@using TestingKnowledge.Dto

@model TestingKnowledge.Web.Models.HomeModel

@inject IStringLocalizer< TestingKnowledge.Web.Resources > Localizer

@{
    Layout = "_BasicInternalLayout";
    ViewBag.ActiveLink = "home";
    ViewBag.Title = "Home";
}

@section HeaderContent
{
}

<div class="container">
    <h3>@Localizer[ "You are signed as" ] <b>@Model.AuthAccount.Login</b><i>[ @Model.AuthAccount.Role.ToString() ]</i></h3>
</div>