﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization;
@using TestingKnowledge.Dto

@inject IStringLocalizer< TestingKnowledge.Web.Resources > Localizer
@{
    Layout = "_BasicLayout";
    ViewBag.ActiveLink = "login";
    ViewBag.Title = "Login";

    var requestCulture = Context.Features.Get< IRequestCultureFeature >();
    var language = requestCulture.RequestCulture.Culture.TwoLetterISOLanguageName;
}

@section HeaderContent
{
    <script src="~/js/login.js"></script>
}

<div class="container-fluid" id="loginWrapper">
    <div class="row content-wrap center-block">
        <div class="thumbnail" id="login-box">
            <form id="loginForm" class="form-horizontal clearfix" method="post" action="javascript:tryLogin()">

                <div class="form-group has-feedback" id="input-login">
                    <label class="col-sm-3 control-label" for="inputLogin">@Localizer[ "Login" ]</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name="inputLogin" placeholder="@Localizer[ "Login" ]" />
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback" id="input-password">
                    <label class="col-sm-3 control-label" for="inputPassword">@Localizer[ "Password" ]</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control " type="password" name="inputPassword" placeholder="@Localizer[ "Password" ]" />
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback" id="login-submit">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">@Localizer[ "Login" ]</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="dropdown" id="select-lang">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="lang-sm lang-lbl-full" lang="@language"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><button type="button" class="btn btn-link" onclick="setLocale('en');"><span class="lang-sm lang-lbl-full" lang="en"></span></button></li>
                <li><button type="button" class="btn btn-link" onclick="setLocale('ru');"><span class="lang-sm lang-lbl-full" lang="ru"></span></button></li>
                <li><button type="button" class="btn btn-link" onclick="setLocale('uk');"><span class="lang-sm lang-lbl-full" lang="uk"></span></button></li>
            </ul>
        </div>
    </div>
</div>