﻿@using Microsoft.Extensions.Localization
@using TestingKnowledge.Dto

@model TestingKnowledge.Web.Models.TestsModel

@inject IStringLocalizer<TestingKnowledge.Web.Resources> Localizer

@{
    Layout = "_BasicInternalLayout";
    ViewBag.ActiveLink = "tests";
    ViewBag.Title = Localizer[ "Tests" ];
}

@section HeaderContent
{
}

<div class="container content-wrap">
    <div class="row center-block">
        <div class="row col-md-12">
            
            <div id="btn-test-add">
                <button type="button"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#modal-create-account">
                    <span class="glyphicon glyphicon-plus"></span> @Localizer[ "Add Test" ]
                </button>
            </div>
            
            <h2>TODO</h2>

            @foreach ( TestDto test in Model.Tests )
            {
                <div class="thumbnail" id="test-@test.DomainId">
                    <ul class="list-group">
                        <li class="list-group-item">@Localizer[ "Title" ]: @test.Title</li>
                        <li class="list-group-item">@Localizer[ "Description" ]: @test.Description</li>
                        <li class="list-group-item">@Localizer[ "CountOfTests" ]: @test.CountOfTests</li>
                        <li class="list-group-item">@Localizer[ "CountGenerate" ]: @test.CountGenerate</li>
                        <li class="list-group-item">@Localizer[ "MaxMark" ]: @test.MaxMark</li>
                    </ul>
                    <div>
                        @*Question groups TODO*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>