﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< TestingKnowledge.Web.Resources > Localizer

@{
    var requestCulture = Context.Features.Get< IRequestCultureFeature >();
    var language = requestCulture.RequestCulture.Culture.TwoLetterISOLanguageName;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrapValidator/dist/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="/lib/languages/languages.min.css" />

    <link rel="stylesheet" href="/css/main.css" />
    
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <script src="/lib/ztoast/ztoast.min.js"></script>

    <script src="~/js/set_locale.js"></script>

    @RenderSection( "HeaderContent", required: false )

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
    <body>
        @RenderBody()
    </body>
</html>
