﻿@using TestingKnowledge.Dto
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization;
@model TestingKnowledge.Web.Models.BasicModel
@inject IStringLocalizer< TestingKnowledge.Web.Resources > Localizer
@{
    Layout = "_BasicLayout";

    var requestCulture = Context.Features.Get< IRequestCultureFeature >();
    var language = requestCulture.RequestCulture.Culture.TwoLetterISOLanguageName;

}
@section HeaderContent
{
    <script src="~/js/navbar.js"></script>

    @RenderSection( "HeaderContent", required: false )
}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li @if ( ViewBag.ActiveLink == "home" ) { @: class="active"
                                            }>
                    <a href="@Url.Action( "Index", "Home" )">@Localizer[ "Home" ]</a>
                </li>
                @if ( Model.AuthAccount.Role == AccountRole.Admin )
                {
                    <li @if ( ViewBag.ActiveLink == "accounts" ) { @: class="active"
                                                                            }>
                        <a href="@Url.Action( "Index", "Accounts" )">@Localizer[ "Accounts" ]</a>
                    </li>
                }
                @if ( @Model.AuthAccount.Role != AccountRole.User )
                {
                    <li @if ( ViewBag.ActiveLink == "tests" ) {
                            @: class="active"
                        }>
                        <a href="@Url.Action( "Index", "Tests" )">@Localizer[ "Tests" ]</a>
                    </li>
                }
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="lang-sm lang-lbl-full" lang="@language"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><button type="button" class="btn btn-link" onclick="setLocale('en');"><span class="lang-sm lang-lbl-full" lang="en"></span></button></li>
                            <li><button type="button" class="btn btn-link" onclick="setLocale('ru');"><span class="lang-sm lang-lbl-full" lang="ru"></span></button></li>
                            <li><button type="button" class="btn btn-link" onclick="setLocale('uk');"><span class="lang-sm lang-lbl-full" lang="uk"></span></button></li>
                        </ul>
                    </li>
                    <li><a href="javascript:onExit()">@Localizer[ "Exit" ]</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
@RenderBody()