﻿@*(C) 2014-2016, Sergei Zaychenko, NURE, Kharkiv, Ukraine*@

@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< TestingKnowledge.Web.Resources > Localizer

@model TestingKnowledge.Web.Models.ErrorViewModel

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "Error" ];
}

<div class="container content-wrap">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>@Localizer[ "Error" ]: @Localizer[ @Model.ErrorTitle ]</h2>
            <div>
                <p>@Localizer[ @Model.ErrorMessage ]</p>
            </div>
        </div>
    </div>
</div>


